.container{
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 24px;
    border: 5px solid rgb(0, 19, 128);
    border-radius: 21px;
}
button{
    font-size: 40px;
    background: rgb(38, 0, 255);
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.calculator{
    border: cyan;
    background-color: rgb(255, 105, 175);
    padding: 23px;
    border-radius: 23px;
    display: inline-block;
}